html {
  color: white;
  font-family: "Open Sans", Arial;
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app, .app {
  height: 100%;
}

.home {
  align-items: center;
  background-image: url(/images/pattern.svg);
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
}

.cityForm,
.cityForm-label {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .cityForm {
  width: 600px;
}

.cityForm-label {
  color: #fff;
  font-size: 3rem;
}

.cityForm-input {
  border-radius: 0.5rem;
  border-width: 0px;
  font-size: 2rem;
  margin: 2rem;
  padding: 0.5rem;
  width: 300px;
}

.cityForm-button {
  background-color: green;
  border-radius: 0.5rem;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

.nav {
  align-items: center;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}
