html {
  font-family: "Open Sans", Arial;
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app, .app {
  height: 100%;
}

.home {
  align-items: center;
  background-image: url(/images/pattern.svg);
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
}

.cityForm,
.cityForm-label {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .cityForm {
  width: 43rem;
}

.cityForm-label {
  color: #fff;
  font-size: 3rem;
}

.cityForm-input {
  border-radius: 0.5rem;
  border-width: 0;
  font-size: 2rem;
  margin: 2rem;
  padding: 0.5rem;
  width: 21rem;
}

.cityForm-button {
  background-color: green;
  border-radius: 0.5rem;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

.cityForm-button:disabled {
  background-color: gray;
  color: lightgray;
}

.nav {
  align-items: center;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-title {
  text-decoration: none;
}

.forecast {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.forecast-city {
  font-size: 4rem;
  margin: 2rem auto;
}

.forecast-days {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  justify-content: space-around;
}

.day {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.day-date {
  font-size: 2rem;
}

.day-description {
  text-transform: capitalize;
}

.day-icon {
  width: 7rem;
  height: 7rem;
}
